.contact-head{
    grid-area: contact;
    grid-column-start: 2;
    grid-column-end: 5;

    font-size: 1.8vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    transition: ease all 2s;
}

.contact-head::after{
    background-color: white; 
    content: '';
    display: block;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 4vh;
}

.contact-form{
    grid-area: contact;
    grid-column-start: 1;
    grid-column-end: 4;
    
    width: 40vh;
    height: 25vh;
    margin-top: 8%;
    margin-left: 30%;
    margin-right: auto;
    background-color: white;
    transition: ease all 1s;
}
.contact-form .form-inf {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    font-size: large;
    padding-left: 3%;
    border: none;
    background-color:#DCDCDC;
    transition: ease all 1s;
}
.contact-form textarea {
    height: 8vh;
    resize: none;
}
.contact-form input {
    height: 3vh;
}
.contact-form .form-btn {
    width: 30%;
    height: 3.5vh;
    margin-left: 10%;
    margin-top: 2%;
    font-size: large;
    color: white;
    background-color: red;
    border: none;
}
.invalid-feedback{
    margin-left: 10%;
    color: rgb(255, 136, 0);
}
.form-text{
    grid-area: footer;
    visibility: hidden;
}
// .alert-success{
//     grid-
// }
@media screen and (max-width: 1170px)
{
    .contact-form{        
        width: 40vh;
        height: 25vh;
        margin-top: 10%;
        margin-left: 30%;
        margin-right: auto;
        background-color: white;
        transition: ease all 1s; 
    }
}

@media screen and (max-width: 883px)
{
    .contact-form{        
        width: 40vh;
        height: 25vh;
        margin-top: 15%;
        margin-left: 30%;
        margin-right: auto;
        background-color: white;
        transition: ease all 1s; 
    }
}