.call-add{
    grid-area: contact;
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 5;
    grid-row-end: 6;

    height: 15vh;
    margin-top: auto;
    margin-bottom: 0;
    transition: ease all 1s;
}
.cell-line{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 8%;
    margin-left: 0%;
    margin-right: 0%;
    transition: ease all 1s;
}
.cell-line p{
    color: #DCDCDC;
    font-size: medium;
    transition: ease all 1s;
}
.pin-add{
    margin-top: auto;
    margin-bottom: auto;
    transition: ease all 1s;
}
.pin-add p{
    color: #DCDCDC;
    font-size: medium;
    text-align: right;
    transition: ease all 1s;
}

.call-add a img{
    margin-top: 40px;
}
@media screen and (max-width: 1100px)
{
    .call-add{
        grid-area: footer;
        grid-column-start: 1;
        grid-column-end: 6;
        height: 100%;
        padding-left: 8%;
        transition: ease all 1s;
    }
    .call-add a img{
        margin-top: 20px;
    }
    .cell-line{
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 8%;
        margin-left: 0;
        margin-right: 0;
        transition: ease all 1s;
    }
    .cell-line p{
        color: #DCDCDC;
        font-size: small;
        transition: ease all 1s;
    }
    .pin-add p{
        color: #DCDCDC;
        font-size: small;
        text-align: right;
        margin-top: 5px;
        transition: ease all 1s;
    }
}
a{
    text-decoration: none !important;
    margin: 0 !important;
    padding: 0 !important;
}
@media screen and (max-width: 380px)
{
    .call-add{
        padding-left: 12%;
        transition: ease all 1s;
    }
    .call-add p{
        font-size: x-small;
        transition: ease all 1s;
    }
    .call-add img{
        margin-top: 20px;
        width: 7vh;
        height: 7vh;
    }
}


/* +++++++++++LANDSCAPE+++++++++++ */

@media screen and (orientation: landscape)
{
    @media screen and (max-width: 900px) {
        .call-add{
        }
    }

}