.services-head{
    grid-area: service;
    grid-column-start: 2;
    grid-column-end: 5;


    font-size: 2vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 15px;
    transition: ease all 2s;
}

// .services-head::after{
//     background-color: red; 
//     content: '';
//     display: block;
//     height: 3px;
//     position: absolute;
//     left: 48%;
//     right: 52%;
//     width: 50px;
// }

.row{
    grid-area: service;
    grid-column-start: 2;
    grid-column-end: 5;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0 4px;
}
.column{
    -ms-flex: 33%;
    flex: 33%;
    max-width: 33%;
    padding: 0 4px;
    transition: ease all .5s;
}
.column img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: ease all .5s;
}

.shutt-roof{
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    transition: ease all 2s;
}

@media screen and (max-width: 800px)
{
    .shutt-roof{
        -ms-transform: none;
        transform: none;
        transition: ease all 2s; 
    }
 }
 @media screen and (max-width: 600px)
 {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
      transition: ease all .5s;
    }
    .column img{
        // height: 50%;
        transition: ease all .5s;
    }

}
